<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.11.0" targetFramework="net45" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net45" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net45" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="ShowMeTheXAML" version="1.0.11-ci49" targetFramework="net45" />
</packages>